<launch>
    <!-- https://github.com/ZBO-R8io/Roberto/blob/main/backups/lunarbot/launch/lunarbot2.launch 
        File edited from. -->

  <arg name="model" default="$(find new_robot_urdf)/urdf/nasa_bot.xacro"/>

  <arg name="rvizconfig" default="$(find new_robot_urdf)/rviz/urdf.rviz" />

  <include file="$(find new_robot_urdf)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- Load joint controller configurations from YAML files -->
  <rosparam command="load"
            file="$(find new_robot_urdf)/config/joints.yaml"
            ns="new_robot_urdf_joint_state_controller"/>
            
  <rosparam command="load"
            file="$(find new_robot_urdf)/config/eff_joints.yaml"
            ns="joint_5_position_controller"/>
            
  <rosparam command="load"
            file="$(find new_robot_urdf)/config/vel_joint.yaml"
            ns="auger_joint_velocity_controller"/>
            
  <rosparam command="load"
            file="$(find new_robot_urdf)/config/diff_drive.yaml"
            ns="new_robot_urdf_diff_drive_controller"/>

  <!-- load the controllers -->
  <node name="new_robot_urdf_controller_spawner" pkg="controller_manager"
              type="spawner"
              args="new_robot_urdf_joint_state_controller
                          joint_5_position_controller
                          auger_joint_velocity_controller
                          new_robot_urdf_diff_drive_controller"/>

  <!-- <node name="rqt_controller_manager" pkg="rqt_controller_manager"
              type="rqt_controller_manager">
  </node> -->
     <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/new_robot_urdf_diff_drive_controller/cmd_vel"/>
    </node>
    <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"> </node> -->

</launch>